.form-wrapper {
  /* height: 100vh;  */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
  margin: auto;
  background-color: white;
}
.form-container {
  margin: auto;
  margin-top: 75px;
  padding-top: min(3rem, 3vw);
    max-width: 50%;
}
.main-form {
  padding: 1rem 1rem;
  /* border: 2px solid black; */
  /* overflow-y: scroll; */
  max-height: 84%;
}
.form-heading {
  color: #000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 2rem;
}
.input-heading {
  color: #474747;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input-field {
  height: 60px;
  width: 100%;
  padding: 0.5rem 0.75rem;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1.25px solid #474747;
  margin: 0.5rem 0 0.75rem 0;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.input-field:focus {
  outline: none;
}
select {
  background: rgba(0, 0, 0, 0);
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
option {
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}
.is-student {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 1.5px solid #474747;
}
.student {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}
.submit-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.submit-btn {
  cursor: pointer;
  display: flex;
  /* width: 100%; */
  padding: 0.5rem 3rem 0.5rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: #000;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.successMessageContainer{
  text-align: center;
}
.successMessage{
  font-size:2rem ;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: green;

}
