.form-wrapper {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  height: 80%;
  max-width: 50%;
}
.main-form {
  padding: 0 1rem;
  overflow-y: scroll;
  max-height: 84%;
}
.form-heading {
  color: #000;
  text-align: center;
  font-family: "Livvic";
  font-size: 56px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 2rem;
}
.input-heading {
  color: #474747;
  font-family: "Livvic";
  font-size: 18px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}
.input-field {
  height: 60px;
  width: 100%;
  padding: 0.5rem 0.75rem;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9px;
  border: 1.25px solid #474747;
  margin: 0.5rem 0 0.75rem 0;
  font-size: 1.25rem;
  font-family: "Livvic";
  font-weight: normal;
}
.input-field:focus {
  outline: none;
}
select {
  background: rgba(0, 0, 0, 0);
  font-size: 1.25rem;
  font-family: "Livvic";
  font-weight: normal;
}
option {
  font-size: 1.25rem;
  font-family: "Livvic";
  font-weight: normal;
}
.is-student {
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 1.5px solid #474747;
}
.student {
  font-size: 1.5rem;
}
.submit-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.submit-btn {
  cursor: pointer;
  display: flex;
  width: 166px;
  padding: 12px 16px 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #000;
  color: #eee;
  font-family: "Livvic";
  font-size: 32px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}
