a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.homepage-container{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.homepage-events-container{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 100vw;
    /* transition: all 20s; */
}
.homepage-event-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    align-self: baseline;
}
.homepage-event-wrapper:hover{
cursor: pointer;
/* background-color: antiquewhite; */
}
.homepage-event-img{
    background-repeat: repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-color: white;
    border-radius: 20px;
}
.homepage-event-name{
    font-family: 'Livvic', sans-serif;
    /* font-size: min(2.5rem, 2.5vw); */
    font-weight: 400;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    max-width: 300px;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    }