.page-container{
    position: relative;
    height: calc(100vh - 100px);
    width: 100vw;
    background-image: url(../../../assets/rectangle2.png);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    padding-bottom: 5rem;

    /* width: 100vw;
    background-image: url(../../../assets/rectangle2.png);
    background-size: cover;
    background-position: center; */
}

.about-container {
    /* position: relative;
    background: transparent; */
    /* max-width: 100vw; */ 
    /*above line was commented out initially */
    display: flex;
    flex-direction: column;
    padding: 0 min(9rem, 9vw);
    padding-top: min(3rem, 3vw);
    align-items: center;
    margin-top: 100px;
    gap: 1rem;
    animation: fadeIn 0.75s ease-out;
}

.about-title {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    
}

.about-text {
    color: white;
    font-weight: 300;
    font-size: 1.75rem;
    text-align: justify;
    line-height: 1.2;
}

.about-preregister-button {
    background-color: white;
    border: none;
    padding: 0.5rem 3.5rem;
    font-family: 'Livvic', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid white;
    
}

.about-preregister-button:hover{
    background-color: black;
    color: white;
    border: solid white;
    /* transition: background-color, 0.2s ease-in; */
    
}

.about-buttons-container {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 5rem; */
}




@media only screen and (max-width: 700px){
    .about-buttons-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .about-preregister-button {
        font-size: 1.2rem;
        width: 100%;
        cursor: pointer;
        width: 100%;
    }

    .about-text {
        font-size: 1.3rem;
        text-align: justify;
    }

    .about-title {
        font-size: 2.1rem;
    }

    .about-link{
        width: 100%;
    }
  }


  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
  }