.page-container{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-decoration: none;
    font-family: 'Livvic', sans-serif;
    background-attachment: fixed;
}